body {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

header {
width: 100%;
}

a {
text-decoration: none;
color: inherit;
}

.google #google_logo {
text-align: center;
display: block;
margin: 0 auto;
clear: both;
padding-top: 112px;
padding-bottom: 20px;
}

.form {
text-align: center;
}

#form-search {
width: 400px;
line-height: 32px;
padding: 20px 10px;
border-radius: 10px; /* Köşeleri yuvarlak yap */
padding-right: 50px; /* Sağ tarafa arama yapma butonu için alan bırak */
}

.form #form-search {
padding: 0 8px;
}

.input-container {
position: relative;
}

.input-container i {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
color: #aaa;
}

.buttons {
text-align: center;
padding-top: 30px;
margin-bottom: 100px;
}

.buttons input[type="submit"] {
padding: 10px 20px;
font-size: 18px;
background-color: #2E8B57;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
}

.buttons input[type="submit"]:hover {
background-color: #228B22;
}

