body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.google {
    background-color: #45a049;
    padding: 20px;
}

.google h1 {
    color: white;
    margin: 0;
}

.search-results {
    max-width: 1800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-results h2 {
    color: #45a049;
    margin-top: 0;
}

.search-results button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-results button:hover {
    background-color: #228B22;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #2E8B57;
}

span {
    color: #888;
}


#favicon-container {
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

#favicon {
    width: 100%;
    height: auto;
}

#google_logo h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
#once_button,
#sonra_button,
#artan_button,
#azalan_button {
    display: inline-block;
    background-color: #4CAF49;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#once_button:hover,
#sonra_button:hover,
#artan_button:hover,
#azalan_button:hover {
    background-color: #228B22;
}
.search-box {
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    position: relative;
    display: table-cell;
}

#form-search {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.material-symbols-outlined {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #777;
}

.buttons {
    margin-top: 10px;
    text-align: center;
}

#google_search {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#pdf-link {
    float: right;
}


#google_search:hover {
    background-color: #228B22;
}

h2 {
    text-align: relative;
    margin-top: 50px;
    font-size: 28px;
    color: #2E8B57;
  }
  h2 span {
    font-weight: normal;
  }
  h2 span b {
    font-weight: bold;
  }

.kou.icon {
    display: inline-flex;
    align-items: center;
}

.kou.icon img {
    height: 40px; /* İstenilen yükseklik */
    width: auto; /* Otomatik genişlik */
    margin-right: 10px; /* İkon ile yazı arasındaki boşluk */
}
