body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.google {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 30px;

}

.google h1 {
    color: #000;
    margin: 0;
}


.search-results {
    max-width: 1750px;
    margin: 0px auto 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.search-results h2 {
    color: #45a049;
    margin-top: 0;
}

.search-results button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-results button:hover {
    background-color: #228B22;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #228B22;
}



#favicon-container {
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

#favicon {
    width: 100%;
    height: auto;
}

#google_logo h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 30px;
}

#once_button,
#sonra_button,
#artan_button,
#azalan_button {
    display: inline-block;
    background-color: #4CAF49;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#once_button:hover,
#sonra_button:hover,
#artan_button:hover,
#azalan_button:hover {
    background-color: #228B22;
}
.search-box {
    margin-bottom: 20px;
    text-align: left;
}

.input-container {
    position: relative;

}

.input-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.buttons {
    text-align: center;
    padding-top: 20px;

}

.buttons input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons input[type="submit"]:hover {
    background-color: #228B22;
}


#form-search {
    width: 400px;
    line-height: 32px;
    padding: 5px 5px;
    border-radius: 10px;
    padding-right: 50px;
    border: 1px solid #ddd;
    background-color: #fff;
}


.buttons {
    margin-top: 10px;
    text-align: center;
}

#google_search {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#pdf-link {
    float: right;
}


#google_search:hover {
    background-color: #228B22;
}

h2 {
    text-align: relative;
    margin-top: 50px;
    font-size: 28px;
    color: #2E8B57;
  }
  h2 span {
    font-weight: normal;
  }
  h2 span b {
    font-weight: bold;
  }


.kou-icon {
    height: 65px;
    width: auto;
    margin-right: 10px;
}
#form-search:focus {
    outline: none;
    border-color: #000;
    box-shadow: none;
}