<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>KOU Akademik</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="form">
<form action="/" method="POST">
<div class="google">
    <div class="kou-logo">
        <img src="https://upload.wikimedia.org/wikipedia/tr/1/1a/Kouyenilogo.png" alt="kocaeli üniversitesi" title="kocaeli üniversitesi" class="kou icon">
        <a href="#" id="google_logo"><h1><span style="color: #45a049; font-size: 45px;">KOU</span> <span style="font-size: 45px; color=black;">Akademik</span></h1></a>
    </div>
</div>

<label for="form-search"></label>
<div class="input-container">
<input type="text" id="form-search" placeholder="Arama Yapılacak Kelimeyi Girin" name="search" style="font-size: 16px;">

</div>
<div class= "buttons">
<input type="submit" value="Arama Yap" id="google_search">
</div>
</form>
</div>
<div class="sonuc-goster-container">
    {% for collection_name, documents in collections_data.items() %}
    <h2 class="collection-name">{{ collection_name }}</h2>
    <ul>
        {% for result in documents %}
            <li>
                <span id="link-url"><a class="sonuc" href="{{ result['Link Url'] }}" >{{ result['Yayın Adı'] }}</a></span>
                <span style="display: block; text-align: right;" id="pdf-link">
                    <a class="sonuc" href="{{ result['Url'] }}" >{{ result['Pdf Text'] }}</a>
                </span>


                <div>
                    <span><b>Yazarlar:</b> {{ result['Yazarlar'] }}</span>
                    <span><b>Yayımlanma Yılı:</b> {{ result['Yayımlanma Tarihi'] }}</span>
                    <span><b>Alıntı Sayısı:</b> {{ result['Alıntı Sayısı'] }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
</body>
</html>
